@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: Poppins;
        src: url(Poppins-Regular.ttf);
    }
}


body {
    font-family: 'Poppins', serif;
}