* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.leftbar {
    background-color: white;
    width: 50%;
    height: 610px;
}

.leftbar h1 {
    text-align: center;
    padding-top: 500px;
}

.rightbar {
    margin-left: 20px;
    background-color: white;
    width: 50%;
    height: 610px;
}

.rightbar form {
    padding-top: 300px;
}